# Byte-compiled / optimized / dll files
__pycache__/
*.pyc
*.pyd
*.pyo
*.dll

# C extensions
*.so

# Distribution / packaging
/node_modules/
/dist/
.Python
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coverage
.tox/
htmlcov/
.pytest_cache/

# Editor directories and files
.vscode/
.idea/

# Environment
.env
venv/
env/
